
/* slide1 */
#slide1 {
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    width: 100vw;
}

/* mobileScreen */
#mobileScreen {
    background-color: rgba(255, 255, 255, 1);
    height: 607px;
    margin: 50px 0 0 0;
    overflow-y: scroll;
    padding: 50px 0;
    width: 375px;
}

/* mobileLegend */
.mobileLegend {
    margin: 0 0 0 10px;

    font-family: sans-serif;
    font-size: 14px;
    font-weight: 100;
}

