
/* rLabelCirc */
.rLabelCirc {
    fill: none;
    stroke: rgba(0, 0, 0, 0.5);
    stroke-width: 0.1px;
}

/* handle */
.handleCirc {
    fill: rgba(255, 255, 255, 0);
    stroke: rgb(210, 164, 0);
    stroke-width: 0.2px;
}

/* arc */
.arc {
    fill: rgba(0, 0, 0, 0.9);
}